whisper-openai
openapi


fastapi


pickleshare

audiosegment
subprocessor

python-multipart
audiosegment

SpeechRecognition
pydub
responses
file-reader

recognizer
gTTS
transformers    
datasets

numpy
pickleshare
pillow
pydantic
requests
sniffio
tensorflow
uvicorn


                      
                         
argon2-cffi                       
          
array-record                      
                   
                          
atila                             
attrs                             
audioread                         
auto-uploadfile-test             

boto                             
boto3                             
botocore                        


cv2-tools                        

                       
debugpy                          
                       
recognizer      

fonttools                         
frozenlist                        
fsspec                            
gast                              
translator
pipe
gTTS                              
audiofile
h11                               
h2                                
h5py                              

httpcore                         
httpie                           
httplib2                        
httptools                         
httpx                             

humanfriendly                     


jupyter                           

keras                            


matplotlib                       
networkx                          

numpy                             
pydentic

pandas                            

pickleshare                      
Pillow                            
Pillow-PIL                        
pip                               
translate           

pydantic                          

pytesseract                      
pytest                           

pyttsx3                           
pyttsx4                          

regex                            
reportlab                        
requests                          

scikit-learn                      
scipy                             
seaborn                          

selenium                          
              
tensorflow                       

torch                            

                             
                           
uuid