absl-py
accelerate

aiohttp

anyio




arrow
asgiref
asttokens
astunparse
async-exit-stack
async-generator
async-lru
async-timeout
asyncio
atila
attrs
audioread


bs4
cache
CacheControl
cached-property

command-not-found
commonmark

cryptography
cssselect
cupshelpers
cv2-tools

dbus-python
debugpy
decorator
defer
defusedxml
dill
distlib
distro
distro-info
dm-tree
dnn

fastapi
fastapi-fancy-exceptions
fasteners
fastjsonschema
fdet
ffmpeg-python
filelock
fire
firebase-admin
flake8
skitai
h11
h2
h5py
happyx
hiredis
hpack
hstspreload
httpcore
httpie
httplib2
httptools
httpx

humanfriendly
hydra-core
hyperframe
hyperlink
hyperopt
idna

importer
importlib-metadata
importlib-resources
incremental
iniconfig
install
ipdb
ipykernel
ipynb-py-convert
ipython
ipython-genutils
ipywidgets
itsdangerous
jaraco.classes
jax
jaxlib
jedi
Jinja2
jiwer
jmespath
joblib
json5


keras
Keras-Applications
keras-ocr
Keras-Preprocessing
keyring
keyrings.alt
kiwisolver
labelImg
langcodes
language-selector
launchpadlib


nltk

numba
numpy


openai
opencv-contrib-python
opencv-python
opencv-python-headless

pickleshare
Pillow
Pillow-PIL

plum-py
ply

protobuf
psutil

PyAudio

pydantic
pydantic-extra-types
pydantic-settings
pydantic_core

pydub

pytesseract
pytest
pytest-asyncio
pytest-bootstrap
pytest-forked

pytest-metadata
pytest-ordering
pytest-rerunfailures


regex
reportlab
requests

scikit-learn
scipy
seaborn

Selenium-Screenshot

sentence-transformers

sklearn

sounddevice
soundfile

spacy==3.7.2
spacy-legacy
spacy-loggers
SpeechRecognition
sympy
systemd-python

tensor
tensorboard
python
tensorflow

tensorflow-model-optimization
tensorflowjs

text-unidecode
tf-models-official
tf-slim
tfa-nightly
tflite-model-maker-nightly
tflite-support
tfserver
thinc
thop
threadpoolctl
tifffile
tinycss2
tokenizers
toml
tomli
toolz
torch
torch-tb-profiler
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
translate

types-python-dateutil
typing_extensions

urllib3

uvicorn
uvloop


